<div class="card border-primary ">
    <div class="card-header">Kambio</div>
    <div class="card-body text-primary">
        <h5 class="card-title">CONVERSOR DE DIVISAS Y TIPO DE CAMBIO</h5>
        <div class="col-lg-6">
            <ul *ngIf="errors" class=" alert alert-danger">
                <li *ngFor="let error of errors; let i = index">{{error}}</li>
            </ul>
        </div>
        <form class="row" [formGroup]="frmExchange" (ngSubmit)="onSubmit()">
            <div class="col-lg-3 col-sm-12">
                <select class="form-select form-select-lg mb-3" formControlName="origenCurrency" aria-label=".form-select-lg example">
                    <option value="" disabled>Moneda origen</option>
                    <option *ngFor="let rate of rates" [ngValue]="rate" >{{rate.code}}</option>
                </select>
            </div>
            <div class="col-lg-3 col-sm-12">
                <select class="form-select form-select-lg mb-3" formControlName="destinationCurrency" aria-label=".form-select-lg example">
                    <option value="" disabled>Moneda destino</option>
                    <option *ngFor="let rate of rates" [ngValue]="rate" >{{rate.code}}</option>
                </select>
            </div>
            <div class="col-lg-3 col-sm-12 mb-3">
                <input type="text" class="form-control form-control-lg" formControlName="amount" placeholder="Ingrese monto">
            </div>
            <div class="col-lg-3 col-sm-12 d-grid gap-2 pb-3">
                <button class="btn btn-rounded btn-primary btn-lg">Cambiar</button>
            </div>
        </form>


    </div>

</div>